__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

.DS_Store

Algs/DataPoisoning/data_loaders/
Algs/DataPoisoning/data/
Algs/DataPoisoning/default_models/
Algs/Fairness/fedtask/mnist_client100_dist0_beta0_noise0/record/fedavg_Mmlp_R1_B10_E1_LR0.2150_P0.10_S0_T1.00_LD-0.002_WD0.000_DR0.00_.json
Algs/Fairness/fedtask/mnist_client100_dist0_beta0_noise0/task.json
Algs/Fairness/fedtask/mnist_client100_dist0_beta0_noise0/record/fedavg_Mmlp_R10_B10_E5_LR0.2150_P0.10_S0_T1.00_LD-0.002_WD0.000_DR0.00_.json
temp.png
temp.png
